.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: $modal-transition-settings;

  &.active {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    padding: 5px;
    top: 19px;
    right: 19px;
    outline: none;
  }

  &__fade {
    position: absolute;
    padding: 10px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 490px;
    display: flex;
    padding: 60px 60px 55px;
    flex-direction: column;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: $color-white;

    @include viewport--md {
      max-width: 420px;
      padding: 40px;
    }

    @include viewport--sm {
      padding: 20px;
    }
  }

  &__heading {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    font-family: $whitney;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: $color-black;

    @include viewport--md {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 40px;
    }

    @include viewport--sm {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 10px;

    font-family: $whitney;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    color: $color-gray;

    @include viewport--md {
      font-size: 16px;
    }

    @include viewport--sm {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    margin-bottom: 18px;
    padding: 0 11px;

    font-family: $whitney;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: $color-gray;
    border: 1px solid #dddae7;
    border-radius: 4px;
    outline: none;

    @include viewport--md {
      font-size: 16px;
      line-height: 40px;
    }

    @include viewport--sm {
      height: 32px;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 15px;
  }
}
