.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport--sm {
    flex-direction: column;
  }
}

.navigation__item {
  @include viewport--sm {
    margin-bottom: 20px;
  }
}

.navigation__link {
  font-family: $whitney;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: $color-white;
}
