// Colors

$color-black: #2e2d35;
$color-gray: #474351;
$color-gray-light: #f6f5f9;
$color-white: #ffffff;
$color-orange: #f25b24;

// Typography
//---------------------------------

$whitney: "Whitney", "Arial", sans-serif;
$segoe: "Segoe UI", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings: 0.3s ease;
$modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1280px;
$viewport--xxl: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
